@use "../libs/variables" as *;

@media (max-width: 1799px) {
    .container {
        max-width: 1200px;
    }

    .menu {
        &__wrapper {
            width: 90%;
        }
    }

    .vitamins {
        &__left {
            padding-left: 100px;
        }
    }
    .healthy {
        &__title {
            margin-left: 100px;
        }

        &__left {
            svg {
                width: 100%;
            }
        }

        &__imgs {
            &-right {
                right: 100px;
            }
        }
    }
    .tellus {
        &__slider {
            left: 30px;
        }

        &__info {
            padding-left: 203px;
        }
    }
    .customer {
        &__card {
            width: 30%;

            &-text {
                width: 100%;
            }
        }
    }
    .footer {
        &__shop {
            margin-left: 100px;
        }
    }
}

@media (max-width: 1399px) {
    .container {
        max-width: 916px;
    }

    .vitamins {
        &__wrapper {
            flex-direction: column;
            justify-content: flex-start;
        }

        &__left {
            width: 100%;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__header {
            text-align: center;
            font-size: 40px;
        }

        &__round {
            display: none;
        }

        &__right {
            width: 100%;
            padding-top: 0;

            picture {
                height: 400px;
                width: auto;
                display: flex;
                justify-content: center;
            }
        }

        &__img {
            position: static;
            width: auto;
            height: 100%;
            transform: none;
        }

        &__animation3 {
            left: 0;
            top: 53%;
            bottom: unset;
        }

        &__animation1 {
            top: 50%;
            left: unset;
            right: 0;
        }
    }

    .healthy {
        &__title {
            font-size: 40px;
            margin-left: 50px;
            width: 80%;
        }

        &__items {
            padding-left: 25px;
        }

        &__item {
            svg {
                width: 50px;
            }

            margin-bottom: 60px;

            &:nth-child(2), &:nth-child(3) {
                margin-bottom: 60px;
            }
        }

        &__text {
            margin-left: 35px;
            font-size: 22px;
            width: 80%;
        }
    }

    .tellus {
        &__slider {
            width: 533px;
            height: 400px;
        }

        &__slide {
            &-info {
                &__type {
                    margin-top: 20px;
                    font-size: 14px;
                }

                &__name {
                    margin-top: 20px;
                    font-size: 16px;
                }

                &__descr {
                    margin-top: 20px;
                    font-size: 12px;
                }
            }
        }

        &__info {
            height: 700px;
            padding-left: 90px;
            padding-top: 100px;

            &-title {
                font-size: 40px;
                width: 100%;
            }

            &-text {
                font-size: 16px;
                margin-top: 30px;
                width: 90%;
            }
        }

        &__bottom {
            margin-top: 100px;
        }

        .swiper {
            &-slide {
                width: 250px;
                padding: 20px 15px;

                picture {
                    width: 100%;
                    height: 180px;
                }

                &-img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

            }
        }
    }

    .customer {
        &__imgs {
            &-left {
                width: 200px;
                height: 200px;
                right: 50px;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &__card {
            &-text {
                font-size: 13px;
            }

            &-title {
                height: 46px;
            }
        }
    }

    .footer {
        &__shop, &__information, &__contact {
            &-categories {
                font-size: 14px;
            }
        }

        &__contact {
            margin-left: 120px;
        }
    }

}

@media (max-width: 1023px) {
    .container {
        max-width: 672px;
    }
    .vitamins {
        &__animation1 {
            transform-origin: bottom right;
        }

        &__animation2 {
            display: none;
        }

        &__animation3 {
            transform-origin: top left;
        }

        &__left {
            padding-top: 200px;
        }

        &__animations {
            overflow-x: hidden;
        }
    }
    .healthy {
        &__wrapper {
            flex-direction: column;
            justify-content: flex-start;
        }

        &__left, &__rigth {
            width: 100%;
        }

        &__title {
            text-align: center;
            margin-top: 190px;
            margin-left: 0;
        }

        &__left {
            display: flex;
            justify-content: center;

            svg {
                width: 100%;
                height: auto;
            }
        }

        &__right {
            width: 100%;
        }

        &__items {
            padding-top: 0;
            align-items: center;
            width: 100%;
        }

        &__item {
            margin-bottom: 30px;

            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }

        &__imgs {
            height: 180px;

            &-left {
                width: 168px;
                height: 143px;
                top: -87px;
                left: 167px;
            }

            &-right {
                width: 256px;
                height: 149px;
                top: -43px;
            }

            &-img {
                &-1, &-2 {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__animation1 {
            left: unset;
            right: 30px;
            top: -30px;
        }

    }

    .tellus {
        &__animation2 {
            svg {
                width: 60px;
                height: 60px;
            }

            right: -30px;
        }

        &__top {
            svg {
                width: 50px;
                height: 50px;
            }
        }

        &__title {
            font-size: 40px;
            width: 100%;
        }

        &__text {
            width: 100%;
            flex: 18px;
        }

        &__bottom {
            margin-top: 50px;
            justify-content: center;
        }

        &__info {
            width: 100%;
            padding-left: 0;
            padding-top: 59px;
            align-items: center;
            height: 369px;

            &-title {
                text-align: center;
            }

            &-text {
                text-align: center;
            }
        }

        &__slider {
            width: 100%;
            left: 0;
            padding: 0 30px;
            top: 300px;

            .swiper {
                &-slide {

                }
            }
        }

        &__animations {
            overflow-x: hidden;
        }

        &__animation1 {
            display: none;
        }
    }

    .customer {
        margin-top: 400px;

        &__imgs {
            display: none;
        }

        &__top {
            align-items: center;
        }

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
        }

        &__card {
            &-title {
                font-size: 16px;
            }

            &-text {
                font-size: 14px;
            }
        }

        &__bottom {
            overflow-x: hidden;
        }
    }

    .ready {
        &__wrapper {
            svg {
                width: 50px;
                height: 46px;
            }
        }


        &__title {
            margin-top: 30px;
        }

        &__text {
            width: 100%;

        }

        &__animation1 {
            top: unset;
            left: unset;
            bottom: 0;
            right: 0;
            transform-origin: right top;
        }

        &__animation2 {
            right: unset;
            left: 0;
            transform-origin: left top;
        }

        &__animations {
            overflow-x: hidden;
        }
    }
    .footer {
        &__wrapper {
            flex-wrap: nowrap;
        }

        &__info {
            svg {
                width: 42px;
                height: 50px;
            }

            &-text {
                margin-top: 28px;
            }
        }

        &__shop {
            width: 130px;
            margin-left: 30px;


            &-categories {
                width: 100%;
                flex-wrap: nowrap;
            }
        }

        &__information {
            width: 160px;
            margin-left: 30px;
        }

        &__contact {
            margin-left: 30px;
        }

        &__shop, &__information, &__contact {
            height: auto;

            &-categories {
                height: auto;
            }
        }
    }

}

@media (max-width: 767px) {
    .container {
        max-width: 327px;
    }

    .menu {
        height: 70px;

        &__wrapper {
            width: 100%;
        }

        &__quiz, &__user {
            display: none;
        }

        &__logo {
            margin-left: 0;
        }

        &__left, &__rigth {
            display: contents;
        }

        &__cart {
            &-empty {
                margin: 0;
                margin-right: 20px;
            }
        }

        &__right {
            picture {
                &:nth-child(1) {
                    display: none;
                }
            }
        }

        &__left {
            picture {
                width: 34px;
                height: 40px;
            }
        }


        .hamburger {
            margin-left: 25px;
            display: block;

            .spans {
                width: 24px;
                height: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .span {
                    width: 100%;
                    height: 2px;
                    background-color: #c4c4c4;
                }
            }
        }

    }

    .vitamins {
        &__left {
            padding-top: 110px;
        }

        &__header {
            font-size: 24px;
            width: 335px;
        }

        &__content {
            font-size: 14px;
            width: 335px;
            margin-top: 14px;
            text-align: center;
        }

        &__btns {
            margin-top: 21px;
            flex-direction: column;

        }

        &__goto {
            margin: 0;
            margin-top: 21px;
            font-size: 14px;
            display: flex;
            justify-content: flex-start;

            svg {
                margin-left: 7px;
                width: 6px;
                height: 10px;

            }
        }

        &__right {
            picture {
                height: 477px;
                margin-top: -84px;
                margin-left: -74px;
            }
        }

        &__animation3 {
            top: 39.5%;
        }

        &__animation1 {
            top: 27%;
            right: -1%
        }
    }

    .healthy {
        margin-top: -282px;

        &__left {
            svg {
                z-index: 1;
            }
        }

        &__animation1 {
            right: 17px;
            z-index: 2;
        }
    }

    .take__quiz {
        width: 154px;
        height: 50px;
        font-size: 14px;
    }

}

@media (max-width: 374px) {
    .container {
        max-width: 100%;
        padding: 0 5px;
    }

}
