@use "../libs/variables" as *;

.footer {
    width: 100%;
    background-color: #faf8f6;
    padding-top: 70px;
    padding-bottom: 74px;

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-text {
            margin-top: 63px;
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 12px;
            color: rgba($text-color-dark, 0.3);
            width: 124px;
        }
    }

    &__shop, &__information, &__contact {
        &-title {
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: $text-color-dark;
            margin-top: 3px;
        }

        &-category {
            margin-bottom: 14px;

            a {
                font-family: "Open Sans";
                font-weight: 400;
                font-size: 14px;
                line-height: 154%;
                color: rgba(#000, 0.5);
                text-decoration: none;

                &:hover {
                    color: rgba(#000, 0.5);
                }
            }
        }

        &-categories {
            margin-top: 25px;
            height: 167px;
        }
    }

    &__shop {
        margin-left: 233px;
        width: 315px;
        height: 197px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &-categories {


            width: 185px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }


    }

    &__information {
        margin-left: 161px;
    }

    &__contact {
        margin-left: 181px;

        &-category {
            a {
                display: flex;
                align-items: center;

                svg {
                    margin-top: 4px;
                    margin-right: 10px;
                }
            }
        }
    }
}