<header class="menu">
    <div class="menu__wrapper">
        <div class="menu__left">
            <div class="hamburger">
                <div class="spans">
                    <span class="span"></span>
                    <span class="span"></span>
                    <span class="span"></span>
                </div>
            </div>
            <picture>
                <source srcset="/src/img/menu/logo.svg"
                        type="image/svg+xml" />

                <img class="menu__logo"
                     src="/src/img/menu/logo.svg"
                     alt="logo">
            </picture>

        </div>
        <div class="menu__right">
            <picture class="menu__user">
                <source srcset="/src/img/menu/user.svg"
                        type="image/svg+xml" />

                <img class="menu__user-img"
                     src="/src/img/menu/user.svg"
                     alt="logo">
            </picture>

            <picture class="menu__cart">
                <source srcset="/src/img/menu/cart.svg"
                        type="image/svg+xml" />

                <img class="menu__cart-img"
                     src="/src/img/menu/cart.svg"
                     alt="user">
            </picture>

            <picture class="menu__cart-empty">
                <source srcset="/src/img/menu/cart-empty.svg"
                        type="image/svg+xml" />

                <img class="menu__cart-empty-img"
                     src="/src/img/menu/cart-empty.svg"
                     alt="cart">
            </picture>

            <a class="menu__quiz"
               href="#">Take the quiz</a>
        </div>

    </div>
</header>