<section class="vitamins">

    <div class="vitamins__wrapper">
        <div class="vitamins__left">
            <h1 class="vitamins__header">Find out what <span>vitamins</span>
                your body needs right now.</h1>

            <div class="vitamins__content">Answer a few simple questions and
                automatically get a personalazed list of vitamins in minutes
            </div>

            <div class="vitamins__btns">
                <a class="take__quiz" href="#">Take the quiz</a>
                <a class="vitamins__goto" href="#">Go to the shop
                    <svg width="10"
                         height="15"
                         viewBox="0 0 10 15"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.57422 14L8.14828 7.42594L1.57422 0.851878"
                              stroke="#F27E58"
                              stroke-width="2" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="vitamins__right">
            <picture>
                <source srcset="/src/img/tabl.avif" type="image/avif">

                <img class="vitamins__img"
                     src="/src/img/tabl.png"
                     alt="tabl">
            </picture>

            <div class="vitamins__round"></div>
        </div>
    </div>
    <div class="vitamins__animations">
        <div class="vitamins__animation1">
            <svg width="158"
                 height="158"
                 viewBox="0 0 158 158"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M129 -3.84172e-06C129 71.2447 71.2447 129 7.69978e-07 129"
                      stroke="#FFCA78"
                      stroke-width="58" />
            </svg>
        </div>

        <div class="vitamins__animation2">
            <svg width="95"
                 height="95"
                 viewBox="0 0 95 95"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="47.5" cy="47.5" r="47.5" fill="#FFCA78" />
            </svg>
        </div>

        <div class="vitamins__animation3">
            <svg width="279"
                 height="141"
                 viewBox="0 0 279 141"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M250 -3.17821e-06C250 61.8559 200.527 112 139.5 112C78.4725 112 29 61.8559 29 6.48201e-06"
                      stroke="#E99478"
                      stroke-width="58" />
            </svg>
        </div>
    </div>
</section>